.el-button.item-search {
    background-color: rgba(11, 88, 168, 0.1);
    color: white;
    border: 2px solid rgba(78,212,248,1);
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    
    &.el-button--primary {
        background-color: rgba(11, 88, 168, 0.1);
        border-color:rgba(78,212,248,1);
    }
    
    &:hover, &:active {
        background: rgba(78,212,248,1);
        border-color: rgba(78,212,248,1);
        color: black;
    }
}


.el-button.item-default {
    background-color: rgba(11, 88, 168, 0.1);
    color: white;
    border: 2px solid rgba(10,88,166, 1);
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    
}



    
